
header ul{
	margin: 0;
padding: 0;
list-style-type: none;
text-align: center;

}

header ul li{	
	display: inline;
}

header ul li a{
	text-decoration: none;
	padding:  1em;
	color: #fff;
	background-color: #036;	

}

section.profile-details {
    margin: 8em;
	
}


article.profile {
	float:left;
  width: 823px;
    height: 250px;
   
}

header {
	display: block;
    margin-top: 128px;
    align-items: center;
	
    margin-right: 90px;
}

.img-circle {
    border-radius: 50%;
	width:128px;
	height:140px;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 336px;
  background-color: #fff;
  color: #444;
}

.grid-cell {


text-align:center;
	
 
  border-radius: 5px;
  padding: 20px;
  font-size: 113%;
      width: 265px;
}

.circle {
	    margin-left: 12px;
    width: 244px;
    height: 112px;
    border-radius: 71%;
    font-size: 25px;
    color: black;
    line-height: 108px;
    text-align: center;
    background: gray;
}

.details-link {
    margin-left: 5em;
}

