.container{
   padding-left: 5px;
    width: auto;
}
.top-section{
    
    background-color:cornflowerblue;
}
.detailed-section1{
    font-size: 15px;
    padding-left: 15px;
    font-family:monospace;
    background-color: beige;
   
}
.detailed-section2
{
    font-size: 15px;
    padding-left: 15px;
    font-family:monospace;
    background-color:cornflowerblue;
    padding-bottom: 4px;
        
}
.section3-div1
{
    background-color:darksalmon;
    font-family:monospace;
    padding-bottom: 10px;
    font-size: 15px;   
        

}
.section3-div2
{
    font-family:monospace;
    background-color:cadetblue;
    padding-bottom: 10px;
    font-size: 15px;
     
}

.section3-div3
{
    font-family:monospace;
    background-color:darksalmon;
    padding-bottom: 12px;
    font-size: 15px;
    
}

.section3-div4
{
    font-family:monospace;
    background-color:cadetblue;
    padding-bottom: 10px;
    font-size: 15px;
     
}
.section3-div5
{
    font-family:monospace;
    background-color:darksalmon;
    padding-bottom: 10px;
    font-size: 15px;
    
}

.img1
{
    padding-left:320px;
    width: 700px;
    height: 400px; 
}
.img2
{
     padding-left:320px;
    width: 700px;
    height: 400px; 
}
.img3
{
    padding-left:320px;
    width: 700px;
    height: 400px; 
}
.img4
{
     padding-left:320px;
     width: 700px;
     height: 400px; 
}
.img5
{
    padding-left:320px;
    width: 700px;
    height: 400px; 
}
