h1{
color: black;
}
ul{
list-style-type:square;
}
.main-section
{
	margin:auto;
	width: 50%;
	text-align: center;
	color: cyan;
}
.interest-section{
text-align:center;
color: pink;
}
.center{
    width:200px;
    margin:auto;
    text-align:left;
}
.profile{
border-radius:50%;
display:block;
margin-left:auto;
margin-right:auto;
}