h1{
color:black;
}
ul{
list-style-type:square;
}
.main-section
{
	margin:auto;
	width: 50%;
	text-align: center;
	color: cyan;
	background-color:#F7F7F7;
}
.interest-section{
	margin:auto;
	width: 50%;
    text-align:center;
    color: pink;
    background-color:grey;
}
.center{
    width:200px;
    margin:auto;
    text-align:left;
}
li{
	margin: 0 0 20px 0;

}

.profile{
border-radius:50%;
display:block;
margin-left:auto;
margin-right:auto;
}

.keyboard-image{
border-radius: 8px;
height: auto;
max-width: 50%;
margin: auto;
}
.education, .contact, .skills, h3{
	color: pink;
	font-size: 20px;
}
.education, .contact, .skills {
	color: cyan;
	font-family: verdana;
	font-size: 15px;
}

