.body{
	background-image: url("images/pageBackground.jpg");
}

.heading{
	font: "amaticbold","Webdings";
	text-align: center;
}

.profile-holder{
	height: 200px;
	width: 100%;
	padding-left: 10px;
}

.profile-picture{
	border-radius: 70%; 
	height: 200px;
	width: 200px;
	padding-left: 70px;
}

.intro{
	float: right;
	font-size: 20px;
	margin-right: 70px;
}

.wanderlust{
	font-family: verdana;
	font-size: 2em;

}

.international{
	float: right; 
}

.india{
	float: left;
}

.pictures {
    width: 690px;
    height:460px;
}


.image-left{
	align-items: left;
}

.image-right{
	align-items: right;
}

.image-middle{
	align-items: center;
}

.images{
	width: 225px;
	height: 225px;
}